@model ProjectAdvert.Models.Advert
@{
    ViewBag.Title = "Filter";
}



@using (Html.BeginForm("Filter", "Adverts", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form_class", role = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form_div">

    @Html.LabelFor(model => model.categories, @Resources.Content.Category, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownList("categories", null, htmlAttributes: new { @class = "form-control field_class", multiple = "multiple" })
</div>

    <div class="form_div">
        <input type="submit" value=@Resources.Content.Filter class="btn btn-default" />
    </div>

    <div class="info_div">
        @Html.ActionLink(@Resources.Content.Back, "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}