@model IEnumerable<ProjectAdvert.Models.Advert>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Site.css")

@Html.ActionLink(@Resources.Content.Filter, "Filter")
<p>
    @Html.ActionLink(@Resources.Content.AddAdvert, "Create")
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
            <th>
                @Resources.Content.ViewsCount
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.Raw(item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(@Resources.Content.Edit, "Edit", new { id = item.ID }) |
                @Html.ActionLink(@Resources.Content.Details, "Details", new { id = item.ID }) |
                @Html.ActionLink(@Resources.Content.Delete, "Delete", new { id = item.ID })
            </td>
            <td>
                @{
                    var app = (HttpApplicationStateWrapper)ViewData["app"];
                    if (app[item.ID.ToString()] != null)
                    {
                        <div>@app[item.ID.ToString()]</div>
                    }
                    else
                    {
                        <div>0</div>
                    }
                }

            </td>
        </tr>
    }

</table>
