<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ogłoszex</title>
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ogłoszex", "Index", "Adverts", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @{
                    if (User.IsInRole("Admin"))
                    {

                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                            <li>@Html.ActionLink("Words", "Index", "ForbidenWords")</li>
                            <li>@Html.ActionLink("Tags", "Index", "HtmlTags")</li>
                        </ul>

                    }
                }
                @Html.Partial("_LoginPartial")
            </div>
         </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                <a href="@Url.Action("ChangeLanguage", "Adverts", new {lang = "en"})"> English</a>
                <a href="@Url.Action("ChangeLanguage", "Adverts", new {lang = "pl"})"> Polish</a>
            </p>
            
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
