@model AdvertProject.Models.HtmlTag

@{
    ViewBag.Title = "Delete";
}

<h2>@Resources.Content.Delete</h2>

<h3>@Resources.Content.DeleteQuestion</h3>
<div>
    <h4>HtmlTag</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tag)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Resources.Content.Delete class="btn btn-default" /> |
            @Html.ActionLink(@Resources.Content.Back, "Index")
        </div>
    }
</div>
